<h1 style="color:Brown"> Tuples </h1>

- Tuples are an ordered sequnce of mixed data types.
- Tuples are written as comma-separated  elements within parenthesis

In [12]:
t =1,12, 4.5
t

(1, 12, 4.5)

In [7]:
type(t)

tuple

In [13]:
t[0][3]= 't'

TypeError: 'int' object does not support item assignment

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [1]:
sample_tuple = 1,2,3,4

print(sample_tuple)

(1, 2, 3, 4)

In [5]:
t = ("disco", 12, 4.5)
t[1][1]

TypeError: 'int' object is not subscriptable

#### single value tuple

In [14]:
sample_tuple = 1,  
print(sample_tuple)

(1,)

In [15]:
sample_tuple = (1,)  
print(sample_tuple)

(1,)

In [17]:
sample_tuple1 = 1   #This is not a tuple

In [18]:
sample_tuple2 = (1) # This is not a tuple

### Indexing in tuples

In [27]:
t = ("Mumbai", 84, "Python",)

In [31]:
# gives the element at index location 1
t[0]

'Mumbai'

In [25]:
# gives the last element from tuple
t[-1]

4.5

### Slicing

In [ ]:
# Slicing first 3 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[0:3]

In [ ]:
# Slicing last 2 elements from t

t = ("Mumbai", 84, "Python", 5, 2, 1)

t[-2:]

In [ ]:
# no. of elements in tuple t
t = ("Mumbai", 84, "Python", 5, 2, 1)
len(t)

#### Cancatenating tuples

In [ ]:
tup1 = ("This", "is", "Session", 2)
tup2 = ("on", "Tuples")

# Adding contents of tup2 to tup1 and storing in tup3

tup3 = tup1 + tup2

tup3

#### sum() - min() - max()

In [33]:
tuple = (2,3.2,4,5)
sum(tuple)

14.2

In [ ]:
t = (2, 4, 3, 5, 7)
min(t)

In [ ]:
t = (2, 4, 3, 5, 7)
max(t)

### Immutability of tuples

In [38]:
t = ("USA", 4, 3, "Disco", 7.5)

In [39]:
new_t = t[:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

### Sorting a tuple

In [7]:
t = (2,3,6,4,8,-1,5)

sorted(t)

[-1, 2, 3, 4, 5, 6, 8]

In [ ]:
# Nested Tuples

t = (1,5,"Disco", ("Python", "Java"))

# Access "Java" from the nested tuple
t[3][1]

In [ ]:
d = {"India" : "INR", "USA" : "Dollars", "France" : "Euros", "USA" : "USD"}
d

### Packing and Unpacking In Tuples

In [ ]:
t = (1,2,3,4)     # Packing 
(a,b,c,d) = t     # Unpacking 
print (a)

#### dir() - to view the attributes or methods of an object

In [8]:
t = (1,2,'disco')
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1 style="color:Brown"> Lists </h1>

- Lists are an ordered sequnce of mixed data types.
- Lists are written as comma-separated  elements within square brackets

In [21]:
L = ["India", 23, 6, "Mumbai"]
print(L[1])

23

In [15]:
# Nested List

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [19]:
x=('1')
print(x)

1

In [ ]:
# Indexing

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L[0]

In [ ]:
L[-3]

In [ ]:
# Slicing

L[0:3]

In [ ]:
# List Concatanetion

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
new_L = L + [5, 8]
new_L

In [26]:
# Replace "Biology" with "Physics"

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L7 = [1,78]

L6=L+[6,98]
print(L6)

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 6, 98]

In [27]:
# extend()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.extend([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), 5, 8]

In [28]:
# append()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L.append([5, 8])
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson'), [5, 8]]

In [29]:
# del Command

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
del L[0]
L

['Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [30]:
# pop() 

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.pop()

L

['Chemistry', 'Biology', [1989, 2004]]

In [ ]:
# remove()

L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]

L.remove("Chemistry")

L

In [31]:
# Sorting Lists

l = [32, 24, 65, 9]
l.sort()
l

[9, 24, 32, 65]

In [ ]:
l.sort(reverse= True)
l

#### Difference between sort and sorted

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A.sort()

print(A)
print(B)

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
C = sorted(A)

print(A)
print(C)

#### Shallow Copying

In [ ]:
A = ["Orange", "Strawberry", "Mango"]
B = A

A[0] = "Apple"

In [ ]:
A

In [ ]:
B

In [32]:
A = ["Orange", "Strawberry", "Mango"]
B = A[:]

A[0] = "Apple"

In [33]:
A

['Apple', 'Strawberry', 'Mango']

In [35]:
B

['Orange', 'Strawberry', 'Mango']

In [48]:
a = 'Kumar_Ravi_003' 
b= a.split("_")
c=b[0]
d=b[1]
e=b[2]
print(d)
print(c)
print(e)

Ravi
Kumar
003

In [70]:
input_list=['SAS','R','PYTHON','SPSS']
input_list.pop()
input_list.append('SPARK')
print(input_list)

['SAS', 'R', 'PYTHON', 'SPARK']

In [83]:
input_str= ['Pythons syntax is easy to learn', 'Pythons syntax is very clear']
a=input_str[0]
b=input_str[1]
c=a+" & "+b
print(c)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [47]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets does not allow duplicates

In [ ]:
l = [1,3,2,4,5,5]

set_l = set(l)

set_l

In [ ]:
len(set_l)

In [ ]:
a = {1, 2, 3, 4, 5}

a.add("India")

a

In [ ]:
a.add("India")
a

In [ ]:
a = {1, 2, 3, 4, 5, "India"}
a.remove("India")
a

In [96]:
# Set Operations

A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}

In [97]:
(A.union(B)).difference(A.intersection(B))

{0, 1, 3, 5, 6, 8}

In [88]:
print(A | B) # Union

{0, 1, 2, 3, 4, 5, 6, 8}

In [89]:
print(A & B) # Intersection

{2, 4}

In [90]:
print(A - B) # Difference

{0, 8, 6}

In [92]:
print(A ^ B) # Symmetric Difference

{0, 1, 3, 5, 6, 8}

In [95]:
A = [5, 1, 3, 4, 4, 5, 6, 7]

B = [3, 3, 5, 5, 1 ,7 ,2]
a=set(A)
b=set(B)
c=a&b
C=list(c)
print(C)

[1, 3, 5, 7]

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, its is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In [ ]:
# Creating a dictionary

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}

# Access value using keys

d["India"]

In [ ]:
# Replace the value for a key in a dictionary

d["India"] = "Rs"

d

In [ ]:
# Insert new key value pair into a dictionary

d["Japan"] = "Yen"

d

In [ ]:
# Deleting a key value pair

del d["France"]

d

In [ ]:
# Sorting a dictionary

sorted(d)

In [1]:
# Values() method

d = {"India" : "INR", "USA" : "USD", "France" : "Euros"}
d.values()

dict_values(['INR', 'USD', 'Euros'])

In [2]:
# Keys() method

d.keys()

dict_keys(['India', 'USA', 'France'])

In [116]:
# Updat() method

d.update({'Bangladesh':'Taka'})
d

AttributeError: 'str' object has no attribute 'update'

In [119]:
a = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]}
b= a[104]
print("'"+b[2]+"'")

'Product Lead'

In [193]:
input_dict={'Name': 'Monty', 'Profession': 'Singer' }
if "Label" in input_dict is False :
    print('NA')