In [2]:
# Output

((500//7) % 5) ** 3

1

In [3]:
 3 * 3 ** 3

81

In [4]:
7^2

5

In [6]:
~1

-2

In [7]:
print(list(range(10, 1)))

[]

In [8]:
round(3.789)

4

In [13]:
# pow(a, b, c)  = (a ** b) % c
pow(2,4,3)

1

In [27]:
#if list contains 0, print False else True
#all([4, 6, 1])
#all([4, 6, 0, 1])
#all((4, 6, 0, 1))
all({4, 6, -6, 1})

True

In [31]:
L = [3, 6, 7, 3, 10, 1, 3]
L.pop(3)
L

[3, 6, 7, 10, 1, 3]

In [33]:
ord('A')

65

In [34]:
divmod(50, 7)

(7, 1)

In [35]:
bin(22)

'0b10110'

In [38]:
names = ['Rachel', 'Monica', 'Phoebe']
print(list(enumerate(names, start = -1)))

[(-1, 'Rachel'), (0, 'Monica'), (1, 'Phoebe')]

In [39]:
print("Hello World"[::-1])

dlroW olleH

In [40]:
max("You should code in Python")

'y'

In [41]:
"Mississippi".rfind('s')

6

In [42]:
"Mississipi".count("issi")

1

In [43]:
"Hello".replace('l', 'e')

'Heeeo'

In [44]:
a = 7

def func(a):
    print('a is', a)
    a = 4
    print('a is now', a)
    
func(a)
print('a is finally', a)

a is 7
a is now 4
a is finally 7

In [45]:
def addn(*args):
      return(sum(args))
print(addn(1,2,3,4))
print(addn(5,6))

10
11

In [46]:
L = [1, 2, 3, 4]
def cube_func(n):
    return n**3
print(list(map(cube_func, L)))

[1, 8, 27, 64]

In [48]:
func = (lambda x, y, z: x if x > y & x > z else y if y > z else z)
print(chr(func(ord('b'), ord('a'), ord('C'))))

b

In [49]:
L = [lambda x: x*2, lambda x: x*3, lambda x: x*4]

for i in L:
     print(i(5))

10
15
20

In [50]:
L = [1, 2, 3, 4]
print(L * 2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [51]:
d = {1:2, 2:3, 3:4}
d.pop(2)
print(d)

{1: 2, 3: 4}

In [53]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
print(a ^ b)

{1, 2, 5, 6}

In [58]:
L = [2, 24, 39, 12, 9]

from random import shuffle
shuffle(L)

print(L)

[39, 9, 2, 24, 12]

In [59]:
L = [13, 16, 2, 19, 22, 24, 10, 49, 28, 82, 18]
final = []

for i in range(len(L)):
    if L[i]%9 == 1:
        final.append(L[i])

print(final)

[19, 10, 28, 82]

In [60]:
s = 'hannah'
flag = 1

for i in range(len(s)):
     if s[i] != s[-i-1]:
          flag = 0
          break

if(flag ==1):
     print('Palindrome')
else:
     print('Not a Palindrome')

Palindrome

In [61]:
l = [0, 8, 16, 10, 36, 44, 93]

final = [int(x**0.5) for x in l if x**0.5 - int(x**0.5) == 0]
        
print(final)

[0, 4, 6]

In [62]:
s = 'I love Python'
s = s.split(" ")
s = s[-1::-1]
s = " ".join(s)
        
print(s)

Python love I

In [82]:
l=[39, 51, 40, 88, 76, 84, 28, 44, 60]
o=[]
for i in range(len(l)):
    if l[i]>sum(l)/len(l):
        o.append(l[i])

o.sort()
print(o)

[60, 76, 84, 88]

In [122]:
C=[2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
F=[2, 4, 5, 6, 7, 9, 13, 16, 20]
H=[1, 2, 5, 9, 10, 11, 12, 13, 15, 20]

# Students who play all the three sports
a= list(set(C).intersection(set(F),set(H)))
# Students who play both cricket and football but don’t play hockey
cf= list(set(C).intersection(set(F))-set(a))
# Students who play exactly two of the sports
ts= list(set(C).intersection(set(F)).union(set(H).intersection(set(F)).union(set(C).intersection(set(H))))-(set(a*3)))
# Students who don’t play any of the three sports
ns= list(set(list(range(1,21)))-(set(C)|set(F)|set(H)))


a.sort()
cf.sort()
ts.sort()
ns.sort()
print(a)
print(cf)
print(ts)
print(ns)

[2, 5, 9, 13]
[16]
[12, 15, 16, 20]
[3, 8, 14]

In [165]:

d={"Yash Pandya": 68,  "Shivam Gupta": 81, "Varun Goyal": 77, "Debaditya Basu": 89,"Niranjan Gyancha": 64}
l=[]
m=list(d.values())
for i in range(len(m)):
    if m[i] >= 80:
        l.append(list(d)[i])

l.sort()
l

['Debaditya Basu', 'Shivam Gupta']

In [217]:
def pal(s):
    c=0
    s=s.lower()
    for i in range(len(s)//2):
        if s[i] == s[-i-1]:
            c+=1
        else:
            break
    if len(s)//2==c:
        return 1
    else:       
        return 0
        

pal("Hannah")

1

In [185]:
len("hannah")//2

3

In [195]:
len(s)

6

In [247]:
s="City of stars, are you shining just for me? City of stars, you never shined so brightly!"
l=s.split(" ")
c=0
for i in range(len(l)):
    if l[i][0] in ['a','e','i','o','u','A','E','I','O','U']:
        c+=1
    
print(c)

3

In [253]:
s="I Love Python"
l=s.split(" ")
l.reverse()
print(*l)

Python Love I

In [266]:
n=6 #28
#perfect no.6 1*2*3=1+2+3

def per_no(n):
    l=[]
    for i in range(1,n):
        if n%i==0:
            l.append(i)
    if sum(l)==n:
        return 1
    else:
        return 0
            
per_no(n)

1

In [272]:
n=21
m=14
k=min(m,n)
def gcd(n,m):
    k=min(m,n)
    while k>0:
        if max(m,n)%k==0 and min(m,n)%k==0:
            return k
        else:
            k-=1
            
gcd(n,m)

7

In [281]:
l=[1, 9, 35, 12, 13, 21, 10]

def func(x):
    return x%5
            
print(sorted(l,key =func))

[35, 10, 1, 21, 12, 13, 9]

[1, 9, 35, 12, 13, 21, 10]